:root {
    --cor-principal: #0bec0b;
    --cor-secundaria: #01ffe6;
    --cor-destaque: #fff200;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    background: linear-gradient(135deg, #48f70e, #0313ef, #2eff0e)
}
h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}
.lead, .btn-link {
    display: inline-block;
    color: var(--cor-destaque);
    font-weight: 700;
    background: none;
    text-decoration: none;
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
    transition: all 0.3 ease;
}

a, .btn-link:hover {
    background: var(--cor-destaque);
    color: #ffff;
    transform: scale(1.05);
    
}



a:hover{
      color: var(--cor-destaque);
}

section{
    padding: 3rem 1.5rem;

}


p {
        font-size: 16px;
            line-height: 1.6;
                color: var(--cor-secundaria);
                    }